<div class="page-header">
  <h1>
    <%= @cliente.codigo %> - <%= @cliente.nome %>
  </h1>
  <div class="pull-right">
    <%= link_to "Editar", edit_cliente_path(@cliente), class: 'btn btn-primary' %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td class="">Telefone</td> <td><%= @cliente.telefone %></td>
        </tr>
        <tr>
          <td class="">Email</td> <td><%= @cliente.email %></td>
        </tr>
        <tr>
          <td class="">Endereço</td> <td><%= @cliente.endereco %></td>
        </tr>
        <tr>
          <td>Data do cadastro</td> <td><%= l @cliente.created_at %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Pedidos
      </div>
      <table class="table table-striped">
        <% @cliente.pedidos.order('created_at DESC').each do |p| %>
          <tr>
            <td><%= l p.created_at %></td>
            <td><%= p.numero %></td>
            <td><%= p.descricao %></td>
            <td><%= p.status %></td>
            <td><%= l(p.prazo) if p.prazo %></td>
            <td><%= link_to "Abrir", p %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
