<div class="page-header">
  <h1>
    <%= @cliente.codigo %> - <%= @cliente.nome %>
  </h1>
  <div class="pull-right">
    <%= link_to "Editar", edit_cliente_path(@cliente), class: 'btn btn-primary' %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td class="">Telefone</td> <td><%= @cliente.telefone %></td>
        </tr>
        <tr>
          <td class="">Email</td> <td><%= @cliente.email %></td>
        </tr>
        <tr>
          <td class="">Site</td> <td><%= @cliente.website %></td>
        </tr>
        <tr>
          <td class="">CNPJ</td> <td><%= @cliente.cnpj %></td>
        </tr>
        <tr>
          <td class="">IE</td> <td><%= @cliente.ie %></td>
        </tr>
        <tr>
          <td class="">Personalizado</td> <td><%= @cliente.personalizado %></td>
        </tr>
        <tr>
          <td class="">Endereço</td> 
          <td>
            <% @cliente.enderecos.each_with_index do |e, i| %>
              <div><span><%= e.tipo %>: </span> <%= e.descricao_completa %></div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Data do cadastro</td> <td><%= l @cliente.created_at %></td>
        </tr>
        <tr>
          <td colspan="2">Observações: <%= @cliente.observacoes %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Contatos <%= link_to "Adicionar Contato", new_contato_path(cliente_id: @cliente), class: 'pull-right btn btn-primary btn-xs' %>
      </div>
      <% if @cliente.contatos.blank? %>
        <div class="panel-body">
          Nenhum contato para o cliente. <%= link_to "Cadastrar o primeiro contato", new_contato_path(cliente_id: @cliente) %>
        </div>
      <% end %>
      <table class="table table-striped">
        <% @cliente.contatos.each do |c| %>
          <tr>
            <td><%= c.descricao %></td>
            <td><%= c.email %></td>
            <td><%= c.telefone_fixo %></td>
            <td><%= c.telefone_celular %></td>
            <td width="80px"><%= link_to "Abrir", edit_contato_path(c) %>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Pedidos
      </div>
      <table class="table table-striped">
        <% @cliente.pedidos.order('created_at DESC').each do |p| %>
          <tr>
            <td><%= l p.created_at %></td>
            <td><%= p.numero %></td>
            <td><%= p.descricao %></td>
            <td><%= p.status %></td>
            <td><%= l(p.prazo) if p.prazo %></td>
            <td width="80px"><%= link_to "Abrir", p %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
