<%= simple_form_for(terminal, multipart: true) do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <% if terminal.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(terminal.errors.count, "erro") %></h2>

          <ul>
          <% terminal.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= codigo_field f %>

      <%= f.input :descricao %>
      <div class="row">
        <%= f.input :marca, wrapper_html: { class: 'col-md-6' }  %>
        <%= f.input :identificacao, label: "Identificação", wrapper_html: { class: 'col-md-6' } %>
      </div>

      <% tags_array = Maquina.all.map { |tag| [tag.descricao, tag.id] } %>
      <%= f.input :maquina_ids, collection: tags_array, label: 'Máquinas próximas ao tablet',
                  input_html: {multiple: true, class: 'select2'} %>

      <%= f.input :observacoes, label: "Observações" %>

    </div>

    <div class="panel-footer">
      <%= f.submit "Salvar", class: 'btn btn-primary' %> ou
      <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
      <%= link_to "Apagar", @terminal, 
                  method: :delete, 
                  class: 'btn btn-danger pull-right',
                  data: { confirm: 'Tem certeza que quer apagar?' } if @terminal.persisted? %> 
    </div>
  </div>
<% end %>
