<div class="page-header">
  <h1>
    <%= @maquina.descricao %>
  </h1>
  <div class="pull-right">
    <%= link_to "Editar", edit_maquina_path(@maquina), class: 'btn btn-primary' %>
  </div>
</div>

<h3>Trabalhos em aberto</h3>
<div class="panel panel-default">
  <table class="table">
    <tr>
      <th>Pedido</th>
      <th>Cliente</th>
      <th>Descrição</th>
      <th>Entrada</th>
      <th>Saída</th>
    </tr>
    <% @maquina.etapas.pendente.each do |e| %>
      <tr>
        <td><%= link_to e.pedido.numero, e.pedido %></td>
        <td><%= link_to e.pedido.cliente.nome, e.pedido.cliente %></td>
        <td><%= e.descricao %></td>
        <td><%= l e.created_at, format: :short %></td>
        <td><%= link_to "Finalizar", finalizar_maquina_path(@maquina, etapa: e) %></td>
      </tr>
    <% end %>
  </table>
  <% if @maquina.etapas.pendente.blank? %>
    <div class="panel-body">
      Nenhum trabalho pendente.
    </div>
  <% end %>
</div>

<h3>Trabalhos finalizados</h3>
<div class="panel panel-default">
  <table class="table">
    <tr>
      <th>Pedido</th>
      <th>Cliente</th>
      <th>Descrição</th>
      <th>Entrada</th>
      <th>Saída</th>
    </tr>
    <% @maquina.etapas.finalizada.each do |e| %>
      <tr>
        <td><%= link_to e.pedido.numero, e.pedido %></td>
        <td><%= link_to e.pedido.cliente.nome, e.pedido.cliente %></td>
        <td><%= e.descricao %></td>
        <td><%= l e.created_at, format: :short %></td>
        <td><%= l e.data_entrega, format: :short if e.data_entrega %></td>
      </tr>
    <% end %>
  </table>
  <% if @maquina.etapas.finalizada.blank? %>
    <div class="panel-body">
      Nenhum trabalho finalizado.
    </div>
  <% end %>
</div>

