<div class="page-header">
  <h1>
    <%= @maquina.descricao %>
  </h1>
  <div class="pull-right">
    <%= link_to "Editar", edit_maquina_path(@maquina), class: 'btn btn-primary' %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <% if @maquina.foto.present? %>
        <%= image_tag @maquina.foto.url, width: '100%' %>
      <% else %>
        <div class="panel-body text-center">
          Nenhuma foto selecionada.
        </div>
      <% end %>
      <table class="table">
        <tr><th>Célula</th> <td><%= @maquina.celulas.map(&:descricao).join(', ') %></td></tr>
        <tr><th>Modelo</th> <td><%= @maquina.modelo %></td></tr>
        <tr><th>Fabricante</th> <td><%= @maquina.fabricante %></td></tr>
        <tr><th>Ano Fabricação</th> <td><%= @maquina.ano_fabricacao %></td></tr>
        <tr><th>Ano Compra</th> <td><%= @maquina.ano_compra %></td></tr>
        <tr><th>Código Interno</th> <td><%= @maquina.codigo_interno %></td></tr>
      </table>
    </div>
  </div>
  <div class="col-md-9">
    <h3>Histórico de trabalhos</h3>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <th>Status</th>
          <th>Usuário</th>
          <th>Operação</th>
          <th>Pedido</th>
          <th>Data</th>
        </tr>
        <% @maquina.historicos.order('created_at DESC').each do |e| %>
          <tr>
            <td><%= e.status %></td>
            <td><%= e.usuario.nome %></td>
            <td><%= e.pedido_operacao.try(:descricao) %></td>
            <td><%= e.pedido_operacao.try(:pedido).try(:numero) %></td>
            <td><%= l e.created_at, format: :short %></td>
          </tr>
        <% end %>
      </table>
      <% if @maquina.historicos.blank? %>
        <div class="panel-body">
          Nenhum histórico registrado.
        </div>
      <% end %>
    </div>
  </div>
</div>
