<h1>Relatorios#estoque</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-filter"></i> Filtro
  </div>
  <%= form_tag '', method: :get do |f| %>
    <div class="panel-body">
      <div class="row">
        <%= filtro :with_maquina, "Máquina",  Maquina.por_descricao, :descricao %>
        <%= filtro :with_status,  "Situação", Maquina.status.options %>
        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag :with_inicio, "Iniciado de" %>
            <%= text_field_tag :with_inicio, params[:with_inicio], type: 'date', class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag :with_fim, "até" %>
            <%= text_field_tag :with_fim, params[:with_fim], type: 'date', class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= submit_tag "Pesquisar", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

