<h1>Relatório de Estoque</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-filter"></i> Filtro
  </div>
  <%= form_tag '', method: :get do |f| %>
    <div class="panel-body">
      <div class="row">
        <%= filtro :with_tipo, "Tipo de produto",  Produto.tipo.options %>
        <%= filtro :with_query, "Descrição" %>
      </div>
    </div>
    <div class="panel-footer">
      <%= submit_tag "Pesquisar", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Peças
  </div>
  <table class="table table-striped">
    <tr>
      <th>Descrição</th>
      <th>Tipo</th>
      <th class="text-right">Unidades disponíveis</th>
    </tr>
    <% @pecas.each do |produto| %>
      <tr>
        <td><%= link_to produto.descricao, produto %></td>
        <td><%= produto.tipo.text %></td>
        <td class="text-right"><%= produto.saldo %></td>
      </tr>
    <% end %>
  </table>
</div>
