<h1>Relatório de Máquinas - A trabalhar</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-filter"></i> Filtro
  </div>
  <%= form_tag '', method: :get do |f| %>
    <div class="panel-body">
      <div class="row">
        <%= filtro :with_maquina, "Máquina",  Maquina.por_descricao, :descricao %>
        <%= filtro :with_status,  "Situação", Maquina.status.options %>
        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag :with_inicio, "Iniciado de" %>
            <%= text_field_tag :with_inicio, params[:with_inicio], type: 'date', class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag :with_fim, "até" %>
            <%= text_field_tag :with_fim, params[:with_fim], type: 'date', class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= submit_tag "Pesquisar", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= number_with_delimiter(@maquinas.sum(&:horas_a_trabalhar)) %> horas
  </div>
</div>

<div class="panel panel-default">
  <table class="table table-striped">
    <tr>
      <th>Máquina</th>
      <th>Situação atual</th>
      <th>Início</th>
      <th>Célula</th>
      <th class="text-right">Horas a trabalhar</th>
    </tr>
    <% @maquinas.each do |i| %>
      <tr>
        <td><%= i.descricao %></td>
        <td><%= i.status_text  %></td>
        <td><%= l i.historicos.last.created_at if i.historicos.any? %></td>
        <td><%= i.celulas.first.try :descricao %></td>
        <td class="text-right"><%= i.horas_a_trabalhar %></td>
      </tr>
    <% end %>
    <tfoot>
      <tr>
        <td colspan="999">
        <%= page_entries_info @maquinas %>
          <%= will_paginate @maquinas %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
