<h1>Relatório de Paradas</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-filter"></i> Filtro
  </div>
  <%= form_tag '', method: :get do |f| %>
    <div class="panel-body">
      <div class="row">
        <%= filtro :with_maquina, "Máquina",  Maquina.por_descricao, :descricao %>
        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag :with_inicio, "Iniciado de" %>
            <%= text_field_tag :with_inicio, params[:with_inicio], type: 'date', class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag :with_fim, "até" %>
            <%= text_field_tag :with_fim, params[:with_fim], type: 'date', class: 'form-control' %>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <%= filtro :with_parada,  "Motivo da parada", Parada.por_descricao, :descricao %>
        <%= filtro :with_turno,   "Turno",  Turno.por_descricao, :descricao %>
        <%= filtro :with_celula,  "Célula", Celula.por_descricao, :descricao %>
      </div>
    </div>
    <div class="panel-footer">
      <%= submit_tag "Pesquisar", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-body" style="font-size: 1.5em">
    <%= number_with_precision(@historicos.sum(&:minutos), precision: 0) %> minutos
    <strong>de acordo com o filtro</strong>
  </div>
</div>


<div class="panel panel-default">
  <table class="table table-striped">
    <tr>
      <th>Data/Hora</th>
      <th>Situação</th>
      <th>Máquina</th>
      <th>Turno</th>
      <th>Usuário</th>
      <th>Motivo</th>
      <th>Tempo (min)</th>
    </tr>
    <% @historicos.each do |i| %>
      <tr>
        <td><%= link_to l(i.created_at), i.pedido_operacao %></td>
        <td><%= i.status_text %></td>
        <td><%= i.pedido_operacao.maquina.descricao %></td>
        <td><%= i.usuario.turno.try(:descricao) %></td>
        <td><%= i.usuario.nome %></td>
        <td><%= i.motivo %></td>
        <td><%= i.minutos %></td>
      </tr>
    <% end %>
    <tfoot>
      <tr>
        <td colspan="999">
        <%= page_entries_info @historicos %>
          <%= will_paginate @historicos %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
