<h1>Relatório de Tempo Ocioso</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-filter"></i> Filtro
  </div>
  <%= form_tag '', method: :get do |f| %>
    <div class="panel-body">
      <div class="row">
        <%= filtro :with_usuario, "Usuário",  Usuario.por_nome, :nome %>
        <%= filtro :with_turno,   "Turno",    Turno.por_descricao, :descricao %>
        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag :with_inicio, "Iniciado de" %>
            <%= text_field_tag :with_inicio, params[:with_inicio], type: 'date', class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag :with_fim, "até" %>
            <%= text_field_tag :with_fim, params[:with_fim], type: 'date', class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= submit_tag "Pesquisar", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-body" style="font-size: 1.5em">
    <%= number_with_delimiter(@historicos.sum(:segundos) / 60) %> minutos
    <strong>de acordo com o filtro</strong>
  </div>
</div>

<div class="panel panel-default">
  <table class="table table-striped">
    <tr>
      <th>Usuário</th>
      <th>Turno</th>
      <th>Motivos</th>
      <th>Tempo de ocioso (min)</th>
    </tr>
    <% @usuarios.each do |usuario, historicos| %>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= usuario.turno.try :descricao %></td>
        <td><%= historicos.map {|h| h.motivo }.uniq.join(', ') %></td>
        <td><%= historicos.sum(&:segundos) / 60 %></td>
      </tr>
    <% end %>
  </table>
</div>
