<h1>Painel de controle</h1>

<div class="row">
  <% @maquinas.each do |m| %>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= m.descricao %>
          <% if m.pedidos_na_fila.any? %>
            <span class="label label-warning pull-right"><%= m.pedidos_na_fila.size %></span>
          <% end %>
          <div class="status <%= m.status %>">
            <%= m.status.text %>
          </div>
        </div>
        <div class="foto">
          <% if m.foto.present? %>
            <%= image_tag m.foto if m.foto.present? %>
          <% else %>
            <div style="font-size: 30px; padding: 30px; text-align: center; background: #676a6c; color: white">
              <%= m.descricao.first %>
            </div>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= link_to "Ver operações", operacoes_maquina_path(maquina_id: m), class: 'btn btn-outline btn-default btn-block' %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-md-3">
    <div class="panel panel-default <%= 'panel-info' if @operacoes_sem_maquina.count > 0 %>">
      <div class="panel-heading" style="height: 55px">
        Operações sem máquina
      </div>
      <div style="font-size: 30px; padding: 30px; text-align: center; background: white; color: 676a6c">
        <%= @operacoes_sem_maquina.count %>
      </div>
      <div class="panel-footer">
        <%= link_to "Ver operações", operacoes_sem_maquina_path, class: 'btn btn-outline btn-default btn-block' %>
      </div>
    </div>
  </div>
</div>

<h3>Alerta de falta de estoque</h3>

<% if @operacoes_sem_estoque.any? %>
<div class="panel panel-default table-responsive">
  <table class="table table-striped">
    <tr>
      <th>Pedido</th>
      <th>Cliente</th>
      <th>Produto</th>
      <th>Operação</th>
      <th>Quantidade</th>
      <th>Prazo Entrega</th>
      <th>Status</th>
      <th>Matéria</th>
      <th>Qtd Necessária</th>
      <th>Qtd Disponível</th>
    </tr>
    <% @operacoes_sem_estoque.each do |o| %>
      <% o.alertas.each do |a| %>
      <tr>
        <td><%= o.pedido.numero %></td>
        <td><%= o.pedido.cliente.nome %></td>
        <td><%= o.pedido_item.descricao_produto %></td>
        <td><%= o.descricao %></td>
        <td><%= o.quantidade %></td>
        <td><%= l o.pedido.prazo, format: '%d/%m/%y' if o.pedido.prazo %></td>
        <td><%= o.status.text %></td>
        <td><%= a.first.descricao %> </td>
        <td><%= a.second %> </td>
        <td><%= a.last %> </td>
      </tr>
      <% end %>
    <% end %>
  </table>
<% else %>
  Nenhuma operação comprometida por falta de estoque.
<% end %>

<style>
.status.executando {
  color: orange;
}
.status.disponivel {
  color: #18a689;
}
.status.manutencao {
  color: red;
}
.status.setup {
  color: blue;
}
.foto {
  max-height: 100px;
  overflow: hidden;
}
.foto img {
  width: 100%;
}
</style>
