<%= simple_nested_form_for(fornecedor, multipart: true) do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <% if fornecedor.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(fornecedor.errors.count, "erro") %></h2>

          <ul>
          <% fornecedor.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= codigo_field f %>

      <%= f.input :nome %>
      <div class="row">
        <%= f.input :cnpj, label: "CNPJ", wrapper_html: { class: 'col-md-6' } %>
        <%= f.input :ie, label: "Inscrição Estadual", wrapper_html: { class: 'col-md-6' }  %>
      </div>

      <div class="row">
        <%= f.input :telefone, wrapper_html: { class: 'col-md-4' } %>
        <%= f.input :email, wrapper_html: { class: 'col-md-4' } %>
        <%= f.input :site, wrapper_html: { class: 'col-md-4' } %>
      </div>
      <%= f.input :observacoes, label: "Observações" %>

      <%= render 'enderecos_field',  f: f %>
    </div>

    <div class="panel-footer">
      <%= f.submit "Salvar", class: 'btn btn-primary' %> ou
      <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
      <%= link_to "Apagar", @fornecedor, 
                  method: :delete, 
                  class: 'btn btn-danger pull-right',
                  data: { confirm: 'Tem certeza que quer apagar?' } if @fornecedor.persisted? %> 
    </div>
  </div>
<% end %>

<style>
.address {
  padding-left: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #eee;
}
</style>
