<div class="page-header">
  <h1>
    <%= @fornecedor.nome %>
  </h1>
  <div class="pull-right">
    <%= link_to "Editar", edit_fornecedor_path(@fornecedor), class: 'btn btn-primary' %>
  </div>
</div>

<div class="panel panel-default">
  <table class="table">
    <tr>
      <td class="col-md-2">Telefone</td> <td><%= @fornecedor.telefone %></td>
    </tr>
    <tr>
      <td class="col-md-2">Email</td> <td><%= @fornecedor.email %></td>
    </tr>
    <tr>
      <td>Data do cadastro</td> <td><%= l @fornecedor.created_at %></td>
    </tr>
  </table>
</div>
