<%= simple_nested_form_for(pedido, multipart: true) do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <% if pedido.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(pedido.errors.count, "erro") %></h2>

          <ul>
          <% pedido.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.input :numero, label: 'Número do pedido (gerado automaticamente)', input_html: { disabled: true } %>
      <div class="row">
        <%= f.input :descricao, label: "Descrição", wrapper_html: { class: 'col-md-9' } %>
        <%= f.input :status, include_blank: false, wrapper_html: { class: 'col-md-3' } %>
      </div>
      <%= f.input :cliente_id, collection: Cliente.order_by_codigo.all, label_method: :codigo_nome, input_html: { class: 'select2' } %>
      <%= f.input :prazo, start_year: 2017, end_year: (Date.today + 5.years).year, include_blank: true %>
      <%= f.input :codigo_pedido_cliente, label: "Código do pedido para o cliente", hint: "Código usado pelo cliente rastrear a entrega ou na nota fiscal." %>

      <label>
        Itens do Pedido
      </label>
      <div class="item-pedidos-wrapper" style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd;">
        <div id="item_pedidos">
          <%= f.fields_for :item_pedidos do |b| %>
            <div class="row">
              <%# TODO Melhorar essas seleção, os novos ficam com dois itens em branco %>
              <%= b.input :descricao_produto,
                          collection: select2_collection_tags(Produto.order_by_codigo, :codigo_descricao, b.object.descricao_produto, :descricao),
                          label: "Descrição do produto",
                          wrapper_html: { class: 'col-md-4' },
                          input_html: { class: 'select2-produto' } %>
              <%= b.input :quantidade,
                          label: 'Quantidade',
                          wrapper_html: { class: 'col-md-2' } %>
              <div class="col-md-1">
                <%= b.link_to_remove "<span class='fa fa-times'><span>".html_safe,
                                      class: 'btn btn-default btn-sm',
                                      style: 'margin-top: 24px' %>
              </div>
            </div>
          <% end %>
        </div>

        <%= f.link_to_add "Incluir Item", 
                          :item_pedidos,
                          class: 'btn btn-primary', 
                          data: { target: '#item_pedidos' }  %>
      </div>

      <%= f.input :observacao, label: 'Observação' %>
    </div>

    <div class="panel-footer">
      <%= f.submit "Salvar", class: 'btn btn-primary' %> ou
      <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
      <%= link_to "Apagar", @pedido, 
                  method: :delete, 
                  class: 'btn btn-danger pull-right',
                  data: { confirm: 'Tem certeza que quer apagar?' } if @pedido.persisted? %> 
    </div>
  </div>
<% end %>
