<div class="page-header">
  <h1>
    OS Número: <span class="numero-os"><%= @pedido.numero %></span>
  </h1>
  <div class="pull-right">
    <%= link_to "Editar", edit_pedido_path(@pedido), class: 'btn btn-primary' %>
  </div>
</div>

<div class="panel panel-default">
  <table class="table">
    <tr>
      <td class="col-md-2">Cliente</td> <td><%= link_to @pedido.cliente.nome, @pedido.cliente %></td>
    </tr>
    <tr>
      <td class="col-md-2">Observação</td> <td><%= @pedido.observacao %></td>
    </tr>
    <tr>
      <td>Data do cadastro</td> <td><%= l @pedido.created_at %></td>
    </tr>
  </table>
</div>

<div class="panel panel-default">
  <table class="table">
    <tr>
      <th>Máquina</th>
      <th>Descrição</th>
      <th>Quantidade</th>
      <th>Data de entrega</th>
    </tr>
    <% @pedido.etapas.each do |etapa| %>
      <tr>
        <td><%= etapa.maquina.descricao %></td>
        <td><%= etapa.descricao %></td>
        <td><%= etapa.quantidade %></td>
        <td><%= l etapa.data_entrega if etapa.data_entrega %></td>
      </tr>
    <% end %>
  </table>
</div>
