<%= stylesheet_link_tag 'global-styles' %>

<%= form_with scope: :sub_produto, url: sub_produtos_create_path, local: true do |f|%>
<%#= simple_nested_form_for(componente, multipart: true) do |f| %>

  <section class="panel panel-default">
    <div class="panel-body flex-direction-column">
        <%= f.label :descricao, "Descrição" %>
        <%= f.text_field :descricao, class: 'col-md-3' %>
    </div>
    <div class="panel-body flex-direction-column">
        <%= f.label :unidade_de_medida, "Unidade de medida" %>
        <%= f.text_field :unidade_de_medida, class: 'col-md-3' %>
    </div>
    <div class="panel-body flex-direction-column">
        <%= f.label :tipo, "Tipo" %>
        <%= f.text_field :tipo, class: 'col-md-3' %>
    </div>
    <div class="panel-body flex-direction-column">
        <%= f.label :saldo, "Saldo" %>
        <%= f.number_field :saldo, class: 'col-md-3' %>
    </div>

    <div class="panel-footer">
      <%= f.submit "Salvar", class: 'btn btn-primary' %>
      <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
      <%= link_to "Apagar", @sub_produto, 
                  method: :delete, 
                  class: 'btn btn-danger pull-right',
                  data: { confirm: 'Tem certeza que quer apagar?' } if @sub_produto.persisted? %> 
    </div>
  </section>

<% end %>