<%= stylesheet_link_tag 'global-styles' %>

<div class="page-header">
  <h1>Produtos</h1>
  <div class="products-add-buttons">
    <%= link_to "Adicionar Produto", new_produto_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Código</th>
        <th>Descrição</th>
        <th>Saldo</th>
        <th>Tipo</th>
        <th>Data cadastro</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @produtos.each do |produto| %>
        <tr>
          <td><%= produto.codigo %></td>
          <td><%= link_to produto.descricao, produto %></td>
          <td><%= produto.saldo %></td>
          <td><%= produto.tipo %></td>
          <td><%= l produto.created_at, format: :xshort %></td>
          <td><%= link_to 'Editar', edit_produto_path(produto), class: 'btn btn-default btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="page-header">
  <h1>Sub-Produtos</h1>
    <%= link_to "Adicionar Sub-Produto", new_produto_path, class: 'btn btn-primary' %>
</div>

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Código</th>
        <th>Descrição</th>
        <th>Saldo</th>
        <th>Tipo</th>
        <th>Data cadastro</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @produtos.each do |produto| %>
        <tr>
          <td><%= produto.codigo %></td>
          <td><%= link_to produto.descricao, produto %></td>
          <td><%= produto.saldo %></td>
          <td><%= produto.tipo %></td>
          <td><%= l produto.created_at, format: :xshort %></td>
          <td><%= link_to 'Editar', edit_produto_path(produto), class: 'btn btn-default btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class="page-header">
  <h1>Componentes</h1>
    <%= link_to "Adicionar Componente", new_produto_path, class: 'btn btn-primary' %>
</div>

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Código</th>
        <th>Descrição</th>
        <th>Saldo</th>
        <th>Tipo</th>
        <th>Data cadastro</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @produtos.each do |produto| %>
        <tr>
          <td><%= produto.codigo %></td>
          <td><%= link_to produto.descricao, produto %></td>
          <td><%= produto.saldo %></td>
          <td><%= produto.tipo %></td>
          <td><%= l produto.created_at, format: :xshort %></td>
          <td><%= link_to 'Editar', edit_produto_path(produto), class: 'btn btn-default btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="page-header">
  <h1>Matérias-Primas</h1>
    <%= link_to "Adicionar Matéria-Prima", new_produto_path, class: 'btn btn-primary' %>
</div>

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Código</th>
        <th>Descrição</th>
        <th>Saldo</th>
        <th>Tipo</th>
        <th>Data cadastro</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @produtos.each do |produto| %>
        <tr>
          <td><%= produto.codigo %></td>
          <td><%= link_to produto.descricao, produto %></td>
          <td><%= produto.saldo %></td>
          <td><%= produto.tipo %></td>
          <td><%= l produto.created_at, format: :xshort %></td>
          <td><%= link_to 'Editar', edit_produto_path(produto), class: 'btn btn-default btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
