<div class="page-header">
  <h1>
    <%= @produto.codigo + " - " unless @produto.codigo.blank? %> <%= @produto.descricao %>
  </h1>
  <div class="pull-right">
    <%= link_to "Editar", edit_produto_path(@produto), class: 'btn btn-primary' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render 'anexos_panel' %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td>Tipo</td> <td><%= @produto.tipo %></td>
        </tr>
        <tr>
          <td>Unidade de medida</td> <td><%= @produto.unidade_medida %></td>
        </tr>
        <tr>
          <td>Data do cadastro</td> <td><%= l @produto.created_at %></td>
        </tr>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Matérias-primas
      </div>
      <% if @produto.materia_primas.blank? %>
        <div class="panel panel-body">
          Nenhuma matéria prima relacionada.
        </div>
      <% else %>
        <table class="table">
          <tr>
            <th>Cód</th> <th>Descrição</th> <th>Unidade</th> <th>Qtd.</th> <th>Tipo</th>
          </tr>
          <% @produto.materia_primas.each do |m| %>
            <tr>
              <td><%= link_to m.produto_usado.codigo, m.produto_usado %></td>
              <td><%= m.produto_usado.descricao %></td>
              <td><%= m.produto_usado.unidade_medida %></td>
              <td><%= m.quantidade %></td>
              <td><%= m.produto_usado.tipo %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Roteiro de Produção
      </div>
      <% if @produto.operacoes.blank? %>
        <div class="panel panel-body">
          Nenhuma operação relacionada.
        </div>
      <% else %>
        <table class="table">
          <tr>
            <th>Ordem</th> <th>Descrição</th> <th>Máquina</th>
          </tr>
          <% @produto.operacoes.order('ordem ASC').each do |m| %>
            <tr>
              <td><%= m.ordem %></td>
              <td><%= m.descricao %></td>
              <td><%= m.maquina.try(:descricao) %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
  <div class="col-md-8">
  </div>
</div>
