<%= simple_form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "erro") %>:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <legend>Dados Pessoais</legend>

  <div class="row">
    <%= f.input :nome, wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :data_nascimento, wrapper_html: { class: 'col-md-4' } %>
    <%= f.input :tipo_sanguineo, wrapper_html: { class: 'col-md-2' } %>
  </div>
  
  <div class="row">
    <%= f.input :rg, wrapper_html: { class: 'col-md-3' } %>
    <%= f.input :cpf, wrapper_html: { class: 'col-md-3' } %>
    <%= f.input :nacionalidade, wrapper_html: { class: 'col-md-3' } %>
    <%= f.input :passaporte, wrapper_html: { class: 'col-md-3' } %>
  </div>
  <div class="row">
    <%= f.input :endereco, label: 'Endereço', wrapper_html: { class: 'col-md-12' } %>
  </div>
  <div class="row">
    <%= f.input :telefone_fixo, wrapper_html: { class: 'col-md-3' } %>
    <%= f.input :telefone_movel, wrapper_html: { class: 'col-md-3' } %>
  </div>

  <legend>Dados na Empresa</legend>

  <% tags_array = Maquina.all.map { |tag| [tag.descricao, tag.id] } %>
  <%= f.input :maquina_ids, collection: tags_array, label: 'Máquinas que ele pode operar',
              input_html: {multiple: true, class: 'select2'} %>

  <div class="row">
    <%= f.input :cargo, label: 'Cargo', wrapper_html: { class: 'col-md-3' } %>
    <%= f.input :turno_id, collection: Turno.all, label: 'Turno', wrapper_html: { class: 'col-md-3' } %>
    <%= f.input :data_admissao, include_blank: true, label: 'Data de admissão', wrapper_html: { class: 'col-md-6' } %>
  </div>

  <div class="row">
    <%= f.input :email, label: 'Email de acesso', wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :perfil, label: 'Email de acesso', wrapper_html: { class: 'col-md-6' } %>
  </div>

  <div class="form-group">
    <%= f.label :password, label: "Senha" %>
    <%= f.password_field :password, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, label: "Confirmação da senha" %>
    <%= f.password_field :password_confirmation, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :ativo, 'Situação' %>
    <%= f.select :ativo, [['Ativo', true], ['Inativo', false]], {}, :class => 'form-control' %>
  </div>

  <legend>Observações</legend>
  <%= f.input :observacoes, label: false %>

  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-primary' %>
  </div>
<% end %>
