<% if @maquina %>
  <p>
  <%= link_to "&larr; Voltar".html_safe, root_path %>
  </p>
<% end %>

<div class="page-header">
  <h1>
    Operações
    <% if @maquina %>
      da <%= @maquina.descricao %>
    <% end %>
  </h1>

  <div class="status <%= @maquina.status %>">
    <%= @maquina.status.text %>
    <% if @maquina.status.setup? %>
      <% if policy(@maquina).finalizar_setup? %>
        <%= link_to 'Finalizar setup <i class="fa fa-check"></i>'.html_safe, finalizar_setup_maquina_path(@maquina), class: 'btn btn-primary'  %>
      <% end %>
    <% elsif @maquina.status.disponivel? %>
      <% if policy(@maquina).iniciar_setup? %>
        <%= link_to 'Iniciar setup <i class="fa fa-play"></i>'.html_safe, iniciar_setup_maquina_path(@maquina), class: 'btn btn-primary'  %>
      <% end %>
    <% end %>
  </div>
</div>

<p class="hide">
  Você está visualizando as operações, independentes de pedidos.
  <%= link_to "Clique aqui para visualizar os Pedidos em produção.", pedidos_path(with_status: :producao) %>
</p>

<div id="filtros" class="hide">
  <%= form_tag '', method: :get do %>
    <div class="input-group">
      <%= text_field_tag :with_query, params[:with_query], 
                         placeholder: "Pesquise operação pela OS, cliente, produto ou descrição...",
                         class: 'form-control string' %>
      <div class="input-group-btn">
        <%= submit_tag "Pesquisar", class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>

<ul class="nav nav-tabs" style="margin: 10px 0">
  <% PedidoOperacao.status.options.each do |label, value| %>
    <% if value != 'finalizado' %>
      <li class="<%= 'active' if params[:with_status] == value %>">
        <% quantidade = @maquina.pedido_operacoes.with_status(value).count %>
        <% if quantidade > 0 %>
          <%= link_to "#{to_upcase(label)} <small class='badge'>#{quantidade}</small>".html_safe, with_status: value %>
        <% else %>
          <%= link_to "#{to_upcase(label)}".html_safe, with_status: value %>
        <% end %>
      </li>
    <% else %>
      <li class="<%= 'active' if params[:with_status] == value %>">
        <%= link_to label, with_status: value %>
      </li>
    <% end %>
  <% end %>
</ul>

<% if @operacoes.blank? %>
  <h2>Nenhuma operação.</h2>
<% else %>
<div class="panel panel-default">
  <table class="table table-bordered">
    <tr>
      <th>Pedido</th>
      <th>Cliente</th>
      <th>Produto</th>
      <th>Atividade</th>
      <th>Prazo Entrega</th>
      <th>Status</th>
      <% if params[:with_status] == 'pausada' %>
        <th>Motivo</th>
      <% end %>
      <th>Prioridade</th>
      <th>Ingrediente</th>
      <th></th>
    </tr>

    <% @operacoes.order('ordem ASC').each do |o| %>
      <tr class="<%= o.descricao_prioridade %>">
        <td><%= o.pedido.numero %></td>
        <td><%= o.pedido.cliente.nome %></td> <%# atenção, registros antigos vem com nil %>
        <td><%= MateriaPrima.find(o.pedido_item_id).produto_usado.descricao %></td>
        <td><% if policy(o).show? %>
            <%= link_to o.descricao, o, style: "color: inherit;"%>
          <% end %></td>
        <td><%= l o.pedido.prazo, format: '%d/%m/%y' if o.pedido.prazo %></td>
        <td><%= o.status.text %></td>
        <% if params[:with_status] == 'pausada' %>
          <td><%= o.historicos.last.try :motivo %></td>
        <% end %>
        <td>
          <%= o.descricao_prioridade %>
          <% if policy(o).update_prioridade? %>
            <div class="btn-group">
              <%= link_to "^", update_prioridade_pedido_operacao_path(o, prioridade: prioridade_acima(o.prioridade)), 
                               class: 'btn btn-xs btn-default' %>
              <%= link_to "v", update_prioridade_pedido_operacao_path(o, prioridade: prioridade_abaixo(o.prioridade)), 
                               class: 'btn btn-xs btn-default' %> 
            </div>
          <% end %>
        </td>
        <td>
          <%= o.descricao %>
        </td>
        <td>
          <% #if policy(o).enviar_para_fila? EDITAR POLICY para aparecer o botão mesmo NA FILA %>
          <% if params[:with_status] != 'executando' %>
            <%= link_to update_status_pedido_operacao_path(id: o.id, status: :na_fila), class: 'btn btn-primary btn-xs' do %>
              Enviar para Fila
              <i class="fa fa-play"></i>
            <% end %>
          <% else %>
            <% unless o.quantidade.nil? %>
              <%= link_to "Executar operação", iniciar_operacao_path(o), class: 'btn btn-primary btn-xs' %>  
            <% end %>        
          <% end %>        
        </td>
      </tr>
    <% end %>
  </table>
</div>
<% end %>

<style>
tr.alta {
  background: #ff7777;
  color: white;
}
tr.média {
  background: #fff477;
  color: black;
}
tr.baixa {
}
.status {
  float: right;
  padding: 10px;
  font-size: 1.5em;
  margin-top: 5px;
}
.status.executando {
  color: orange;
}
.status.disponivel {
  color: #18a689;
}
.status.manutencao {
  color: red;
}
.status.setup {
  color: blue;
}
.page-header .btn-primary {
  float: none;
  margin: 0;
    margin-left: 10px;
}
.table .btn-group {
  float: right;
}
</style>
