
<% if @item.blank? %>
  <h2>Nenhuma operação.</h2>
<% else %>
  <h2>Operação: <%= @operacao.descricao %></h2>
<% end %>
<div class="panel panel-default">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Produto</td>
        <td><%= @item.descricao %></td>
      </tr>
      <tr>
        <td>Quantidade</td>
        <td><%=  @operacao.quantidade_produzida || 0 %></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for @items_producao, url: iniciar_operacao_create_path, local: true do |f| %>
      <%# :pedido_id, :produto_id, :pedido_item_id, :peso, :unidade, :observacao %>

      <table class="table">
        <tr>
          <th>Produto</th>
          <th>Peso</th>
          <th>Unidade</th>
        </tr>
        <% @pesos.each do |item| %>
          <tr>
            <td><%= MateriaPrima.find(item.pedido_item_id).produto_usado.descricao %></td>
            <td><%= item.peso %></td>
            <td><%= item.unidade %></td>
          </tr>
        <% end %>
      </table>

      <div style="display: flex; flex-direction: column;" >
        <%= f.hidden_field :operacao_id, value: @operacao.id %>
        <%= f.hidden_field :pedido_id, value: @operacao.pedido_id %>
        <%= f.hidden_field :pedido_item_id, value: @operacao.pedido_item_id %>
        <%#= f.hidden_field :produto_id, value: @paciente.id %>
        <%= f.label :peso, style: '' %>
        <%= f.number_field :peso, placeholder: "Peso atual: #{ @item.descricao } ", :class => 'form-control' %>
        <%= f.label :unidade, style: 'margin-top: 20px;' %>
        <%= f.select :unidade, [['mg', 'mg'],['g', 'g'], ['Kg', 'kg']], {}, :class => 'form-control' %>        
      </div>
      <div class="" style="margin-top: 20px;">
        <%= f.submit "Submeter Peso", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<% if @operacao.blank? %>
  <h2>Nenhuma operação.</h2>
<% else %>
  <h2>Informações do Pedido</h2>
<% end %>
<div class="panel panel-default">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Operação</th>
        <th scope="col"><%= @operacao.descricao %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ordem</td>
        <td><%= @operacao.ordem %></td>
      </tr>
      <tr>
        <td>Descrição</td>
        <td><%= @operacao.descricao %></td>
      </tr>
      <tr>
        <td>Observação</td>
        <td><%= @operacao.observacao %></td>
      </tr>
      <tr>
        <td>Tempo de Setup</td>
        <td><%= @operacao.tempo_setup %></td>
      </tr>
      <tr>
        <td>Tempo estimado de Operação</td>
        <td><%= @operacao.tempo_operacao %></td>
      </tr>
      <tr>
        <td>Status</td>
        <td><%= @operacao.status %></td>
      </tr>
      <tr>
        <td>Criado em</td>
        <td><%= @operacao.created_at.strftime('%d.%m.%Y') %></td>
      </tr>
      <tr>
        <td>Modificado em</td>
        <td><%= @operacao.updated_at.strftime('%d.%m.%Y') %></td>
      </tr>
      <tr>
        <td>Quantidade a produzir</td>
        <td><%= @operacao.quantidade %></td>
      </tr>
      <tr>
        <td>Quantidade produzida</td>
        <td><%= @operacao.quantidade_produzida || 0 %></td>
      </tr>
      <% if params[:with_status] == 'pausada' %>
        <tr>
          <td>Motivo da pausa</td>
          <td><%= @operacao.ordem %></td>
        </tr>
      <% end %>

      <tr>
        <td class="hide"colspan="2">Larry the bird</td>
      </tr>
    </tbody>
  </table>
</div>