<p>
<%= link_to "&larr; Voltar".html_safe, root_path %>
</p>

<div class="page-header">
  <h1>
    Operações
    sem Máquina
  </h1>
</div>

<div id="filtros" class="hide">
  <%= form_tag '', method: :get do %>
    <div class="input-group">
      <%= text_field_tag :with_query, params[:with_query], 
                         placeholder: "Pesquise operação pela OS, cliente, produto ou descrição...",
                         class: 'form-control string' %>
      <div class="input-group-btn">
        <%= submit_tag "Pesquisar", class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>

<% if @operacoes.blank? %>
  <h2>Nenhuma operação.</h2>
<% else %>
<div class="panel panel-default">
  <table class="table table-bordered">
    <tr>
      <th>Pedido</th>
      <th>Cliente</th>
      <th>Produto</th>
      <th>Operação</th>
      <th>Quantidade</th>
      <th>Prazo Entrega</th>
      <th>Motivo do desmembramento</th>
      <th>Prioridade</th>
      <th></th>
    </tr>

    <% @operacoes.each do |o| %>
      <tr class="<%= o.descricao_prioridade %>">
        <td><%= o.pedido.numero %></td>
        <td><%= o.pedido.cliente.nome %></td>
        <td><%= o.pedido_item.descricao_produto %></td>
        <td><%= o.descricao %></td>
        <td><%= o.quantidade %></td>
        <td><%= l o.pedido.prazo, format: '%d/%m/%y' if o.pedido.prazo %></td>
        <td><%= o.motivo_desmembramento %></td>
        <td>
          <%= o.descricao_prioridade %>
          <% if policy(o).update_prioridade? %>
            <div class="btn-group">
              <%= link_to "^", update_prioridade_pedido_operacao_path(o, prioridade: prioridade_acima(o.prioridade)), 
                               class: 'btn btn-xs btn-default' %>
              <%= link_to "v", update_prioridade_pedido_operacao_path(o, prioridade: prioridade_abaixo(o.prioridade)), 
                               class: 'btn btn-xs btn-default' %> 
            </div>
          <% end %>
        </td>
        <td><%= link_to "Definir Máquina", definir_maquina_pedido_operacao_path(o), class: 'btn btn-primary btn-xs' %></td>
      </tr>
    <% end %>
  </table>
</div>
<% end %>

<style>
tr.alta {
  background: #ff7777;
  color: white;
}
tr.média {
  background: #fff477;
  color: black;
}
tr.baixa {
}
.status {
  float: right;
  padding: 10px;
  font-size: 1.5em;
  margin-top: 5px;
}
.status.executando {
  color: orange;
}
.status.disponivel {
  color: #18a689;
}
.status.manutencao {
  color: red;
}
.status.setup {
  color: blue;
}
.page-header .btn-primary {
  float: none;
  margin: 0;
    margin-left: 10px;
}
.table .btn-group {
  float: right;
}
</style>
