<p>
  <%= link_to "&larr; Voltar".html_safe, operacoes_maquina_path(@operacao.maquina, with_status: @operacao.status) %>
</p>

<% if flash[:alert] %>
  <div class="alert alert-warning">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        Operação na <%= @operacao.maquina.descricao %>
        <h2>
          <%= @operacao.descricao %> 
        </h2>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        Quantidade a produzir
        <h2>
            <% unless @operacao.quantidade.nil? %>
              <% if @operacao.quantidade > 1 and @operacao.pode_desmembrar? %>
                <% if policy(@operacao).desmembrar? %>
                <%= link_to "desmembrar", desmembrar_pedido_operacao_path(@operacao), class: 'btn btn-default' %>
                <%= link_to "Iniciar operação", iniciar_operacao_path(@operacao), class: 'pull-right btn btn-primary' %>  
                <% end %>
              <% end %>
            <% end %>
        </h2>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        Situação
        <h2>
          <small><%= @operacao.status.text %> </small>
          <% if policy(@operacao).enviar_para_fila? %>
            <%= link_to update_status_pedido_operacao_path(status: :na_fila), class: 'btn btn-primary pull-right' do %>
              Enviar para Fila
              <i class="fa fa-play"></i>
            <% end %>
          <% end %>

          <%# if @operacao.status.na_fila? %>
          <% if policy(@operacao).iniciar? %>
            <%= link_to update_status_pedido_operacao_path(status: :executando), class: 'btn btn-primary pull-right' do %>
              Iniciar
              <i class="fa fa-play"></i>
            <% end %>
          <% end %>

          <%# if @operacao.status.pausada? %>
          <% if policy(@operacao).continuar? %>
            <%= link_to update_status_pedido_operacao_path(status: :executando), class: 'btn btn-primary pull-right' do %>
              Continuar
              <i class="fa fa-play"></i>
            <% end %>
          <% end %>

          <%# if @operacao.status.executando? %>
          <% if policy(@operacao).finalizar? %>
            <%= link_to finalizar_pedido_operacao_path, class: 'btn btn-primary pull-right' do %>
              Concluir
              <i class="fa fa-check"></i>
            <% end %>

          <% end %>

          <% if policy(@operacao).pausar? %>
            <%= link_to '', data: { toggle: :modal, target: '#pausarModal' } , class: 'btn btn-info pull-right', style: "margin-right: 5px" do %>
              Pausar
              <i class="fa fa-pause"></i>
            <% end %>
          <% end %>
        </h2>
      </div>
    </div>
  </div>
</div>

<div id="pausarModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Registrar Parada</h4>
      </div>
      <%= form_tag update_status_pedido_operacao_path, method: :get do %>
        <div class="modal-body">
            <%= hidden_field_tag :status, :pausada %>
            <%= select_tag :motivo, 
                  options_for_select(Parada.all.map(&:descricao)), 
                  class: 'form-control' %>
        </div>
        <div class="modal-footer">
            <%= submit_tag "Registrar Parada", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        Observação
        <h4>
          <%= @operacao.observacao.present? ? @operacao.observacao : '-' %> 
        </h4>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        Ferramentas
        <h4>
          <% if @operacao.ferramentas.any? %>
            <%= @operacao.ferramentas.map(&:descricao).join(', ') %> 
          <% else %>
            -
          <% end %>
        </h4>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        Prazo
        <h4>
          <% if @operacao.pedido.prazo %>
            <%= l @operacao.pedido.prazo %> 
          <% else %>
            - 
          <% end %>
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= render 'anexos_panel' %>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Sobre o pedido
      </div>
      <table class="table">
        <tr>
          <th>Pedido Nº</th>
          <td><%= link_to @operacao.pedido.numero, @operacao.pedido %></td>
        </tr>
        <tr>
          <th>Cliente</th>
          <td><%= @operacao.pedido.cliente.nome %></td>
        </tr>
        <tr>
          <th>Observação do pedido</th>
          <td><%= @operacao.pedido.observacao %></td>
        </tr>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Matérias primas
      </div>
      <table class="table">
        <tr>
          <th>Nome</th>
          <th>Quantidade</td>
        </tr>
        <% MateriaPrima.find(@operacao.pedido_item_id).produto.materia_primas.each do |m| %>
          <tr>
            <td><%= m.produto_usado.descricao %></td>
            <td><%= m.quantidade %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Histórico
      </div>
      <% if @operacao.historicos.blank? %>
        <div class="panel-body">
          Nenhum histórico encontrado.
        </div>
      <% else %>
        <table class="table hide">
          <tr>
            <th>Situação</th>
            <th>Início</th>
            <th>Fim</th>
          </tr>
          <% @operacao.cronometros.order('inicio DESC').each do |c| %>
            <tr>
              <td><%= c.tipo %></td>
              <td><%= l c.inicio %></td>
              <td><%= l c.fim if c.fim %></td>
            </tr>
          <% end %>
        </table>
        <table class="table">
          <% @operacao.historicos.order('created_at DESC').each do |h| %>
            <tr>
              <td><%= h.usuario.nome %></td>
              <td>
                <%= h.status.text %>
                <% if h.motivo.present? %>
                  - 
                  <%= h.motivo %>
                <% end %>
              </td>
              <td><%= l h.created_at %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>
