<div class="panel panel-default">
  <div class="panel-heading">
    Desenhos (<%= @produto.anexos.size %>)
  </div>
  <% if @anexo %>
    <div class="panel-body">
      <%= @anexo.codigo_descricao %> - Revisão <%= @anexo.revisao %>
      <div class="btn-group pull-right">
        <%= link_to "Anterior", {anexo_id: @anterior}, class: "btn btn-xs btn-primary #{'btn-default' if @anterior.nil? }" %>
        <%= link_to "Próximo", {anexo_id: @proximo}, class: "btn btn-xs btn-primary #{'btn-default' if @proximo.nil? }" %>
      </div>
    </div>

    <% if @anexo.arquivo.content_type.include? 'pdf' %>
      <iframe class="arquivo-pdf" src="<%= pdfjs.full_path(file: "/smart-factory/#{@anexo.arquivo.path}") %>"></iframe>
      <%= link_to "Abrir pelo visualizador do navegador", '', 
                  onclick: "window.open('#{@anexo.arquivo.url}', 'newwindow', 'width=400,height=400'); return false;", 
                  target: :blank,
                  style: 'display: block; padding: 10px' %>
    <% else %>
      <div class="panel-body">
        <%= link_to "Abrir arquivo (Formato não PDF)", @anexo.arquivo.url %>
      </div>
    <% end %>
  <% end %>
</div>

<style>
.arquivo-pdf {
  width: 100%;
  height: 400px;
  border: none
}
</style>

