      <p class="c-black f-500 m-b-5">
        <i class="fa fa-map-marker"></i> Endereços
        <%= f.link_to_add "<i class='btn-icon-only fa fa-plus'></i>".html_safe, :enderecos, class: "btn btn-xs btn-primary", title: "Incluir Endereço", alt: "Incluir Endereço", data: { target: "#addresses" } %>      
      </p>
      <div id="addresses">
        <%= f.fields_for :enderecos do |endereco| %>
          <%= endereco.hidden_field :id %>
          <div class="address" style="margin-bottom: 20px; border-left: 2px solid #1ab394; padding: 10px;">
            <% if tipos %>
              <div class="row">
                <%= endereco.input :tipo, label: false, collection: tipos, placeholder: "Tipo de Endereço", wrapper_html: { class: 'col-md-5' } %>
              </div>
            <% end %>
            <div class="row">
              <%= endereco.input :logradouro,  placeholder: 'Logradouro', label: false, wrapper_html: {class: 'col-md-5'} %>
              <%= endereco.input :numero,  placeholder: 'Número', label: false, wrapper_html: {class: 'col-md-2'} %>
              <%= endereco.input :complemento,  placeholder: 'Complemento', label: false, wrapper_html: {class: 'col-md-3'} %>
            </div>

            <div class="row">
              <%= endereco.input :bairro,  placeholder: 'Bairro', label: false, wrapper_html: {class: 'col-md-3'} %>
              <%= endereco.input :cidade,  placeholder: 'Cidade', label: false, wrapper_html: {class: 'col-md-3'} %>
              <%= endereco.input :estado,  placeholder: 'Estado', label: false, input_html: { class: 'no-select2'}, wrapper_html: {class: 'col-md-2'} %>
              <%= endereco.input :cep,  placeholder: 'Cep', label: false, input_html: {class: 'cep_field'}, wrapper_html: {class: 'col-md-2'} %>
            </div>
            <%= endereco.link_to_remove "<i class='fa fa-times'></i> Remover".html_safe, 
                                        :class => "btn btn-primary btn-danger btn-xs", 
                                        :title => "Excluir", :alt => "Excluir" %>
          </div>
        <% end %>
      </div>
